#features
  .row
    .col-md-8.col-md-offset-2.text-center
      h2 Struggle to get up in the morning?
      p Make sure you wake up. Set an alarm with a specific challenge to complete in the morning. 
    .col-md-4
      .col-md-3.col-sm-6.col-xs-6.col-xxs-12
        h3.feature-title Feature 1
        p.feature-text This is feature 1
      .col-md-3.col-sm-6.col-xs-6.col-xxs-12
        h3.feature-title Feature 2
        p.feature-text This is feature 2
    .col-md-4
      iframe(src='https://appetize.io/embed/9u8mc98n64duqbtp8puja2thhm?device=iphone6s&scale=75&autoplay=true&orientation=portrait&deviceColor=black', width='312px', height='653px', frameborder='0', scrolling='no')
    .col-md-4
      .col-md-3.col-sm-6.col-xs-6.col-xxs-12
        h3.feature-title Feature 2
        p.feature-text This is feature 2
      .col-md-3.col-sm-6.col-xs-6.col-xxs-12
        h3.feature-title Feature 2
        p.feature-text This is feature 2
