#features.container-fluid
  .row
    .col-md-8.col-md-offset-2.text-center
      h2 Features
      p Make sure you wake up. Set an alarm with a specific challenge to complete in the morning.
  .col-md-3
    .feature
      h3.feature-title Range of sounds
      p.feature-text Choose from a blaring foghorn one morning or a missile solo the next.
    .feature
      h3.feature-title Various tasks
      p.feature-text Math problems, memory games or simple gestures. Choose what task you want to complete to make it stop!
  .col-md-6
    img#mockup.img-responsive(src='images/mockups/iphone_6_both_features.png')
  .col-md-3
    .feature
      h3.feature-title Settable difficulty
      p.feature-text Toggle the difficulty of each task depending on how much of a morning person you are.
    .feature
      h3.feature-title Ruthless
      p.feature-text The alarm does not stop cycling until you complete the task fully. This app makes sure you get up and stay up. No snooze, no mercy!
