.intro
  nav.navbar.navbar-default
    .container
      a.navbar-brand(href='#') LOGO
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#') HOME
          li
            a(href='#') FEATURES
          li
            a(href='#') DEMO
          li
            a(href='#') SIGNUP
  .container
    .row
      .col-md-6
        h2 Wake up in the morning.
        p Stop snoozing your alarm and get the hell up with the help of games, tasks and quizzes.
        a(href='https://play.google.com/store/apps/details?id=makeitstop')
          img#badge(alt='Android app on Google Play', src='https://developer.android.com/images/brand/en_app_rgb_wo_60.png')
      .col-md-6.text-right
        img#mockup(src='images/iphone_6_both.png')
