body {
  font-family: 'Montserrat', sans-serif;
}

.intro {
  color: white;
  background: url("/images/dawn.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-bottom: 100px;
  min-height:100%;
  background-size:cover;
}

.intro .navbar-nav>li>a {
  color: white;
  font-size: 18px;
  border-radius: 10px;
}

.intro .navbar {
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  border-bottom:none;
  background-color: transparent;
  min-width: 300px;
  border: none;
}

.intro .navbar-default .navbar-nav>.open>a,
.intro .navbar-default .navbar-nav>.open>a:focus,
.intro .navbar-default .navbar-nav>.open>a:hover {
  color: #ccc;
  background-color: transparent;
}

.intro .nav>li>a:focus,
.intro .nav>li>a:hover {
  color: #ccc;
  background-color: transparent;
}

.intro .navbar-nav>li {
  margin-right: 20px;
}

.intro .navbar-nav {
 margin-top: 12px;
}

.intro .navbar-toggle {
  background-color: transparent !important;
  margin-top: 20px;
  border: 1px solid #fff;
}

.intro .navbar-toggle .icon-bar {
  background-color: white;
}

.intro .navbar-brand {
  color: white;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.intro .navbar-brand:hover {
  color: #ccc;
}

#mockup {
  width: 500px;
  height: auto;
}

#badge {
  width: 200px;
  height: auto;
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#simulator {
  width: 312px;
  height: 653px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 70px;
  line-height: 60px;
  margin-top: 80px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 20px;
  line-height: 30px;
}

.feature {
  text-align: center;
  margin-top: 150px;
}
